.container
    

.header
    display: flex
    justify-content: space-between
    align-items: center
    height: 10vh
    margin: 0 auto
    background-color: #c7ecee

    .header__logo
        font-size: 18px
        margin-left: 2.5vw
        padding: 10px
        background-color: #ffbe76
        color: white
        cursor: pointer

    .header__logout
        font-size: 18px
        margin-right: 2.5vw
        padding: 10px
        border-radius: 2px
        background-color: #ffbe76
        color: white
        cursor: pointer

.main
    display: flex
    justify-content: space-between

    .main__side-bar
        width: 15vw
        height: calc( 100vh - 10vh )
        background-color: #4834d4


    .main__content
        width: 84.5vw
        box-shadow: -11px 0 8px -10px rgba(68,68,68,0.6)

    ul
        box-shadow: 5px 5px 5px rgba(68,68,68,0.6)
        box-sizing: border-box

    .main__components
        height: 8vh
        background-color: #ffbe76
        display: flex
        align-items: center
        justify-content: center
        border-bottom: 1px solid black
        transition: 0.3s

        &:hover
            height: 11vh
            cursor: pointer
            
            
            
